
  .img-perfil{
    width: 150px;
    height: 150px;
  }

  .img-edit{
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .img-icon{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;

  }

  .img-pacote{
    width: 450px;
    height: 300px ;
  }

  .img-social{
    width: 45px;
    height: 45px;
    filter: brightness(5);
  }

  .img-twitter{
    width: 45px;
    height: 45px;
    filter: invert(100);
  }

  .bronze-img{
    border-radius: 50px;
    background-color: chocolate;
  }

  .prata-img{
    border-radius: 50px;
    background-color: dimgray;
  }

  .ouro-img{
    border-radius: 50px;
    background-color: gold;
  }